*
{
	text-align : justify;
	font-family: 'Roboto', sans-serif;
}

body
{
	margin: 0;
	height : 100vh;
	background-image: url(../medias/img/fond.jpg);
	background-size : 100% 100%;
	background-repeat : no-repeat;
}

#regle {
	height: 30px;
}

#regle button{
	height: 30px;
	margin-top: 10px;
	margin-left: 5px;
}

p
{
	font-size : 16px;
	text-align:center;
}


#mascotte{
	position: fixed;
	 left: 50%; /* à 50%/50% du parent référent */bottom:50px;
	  transform: translate(-50%, 0); /* décalage de 50% de sa propre taille */
	  
}

#dialogueAccueil{
	display: flex;
	flex-direction: column;
}

#fin{
	align-self: flex-end;
}

#dialogue{
	display: flex;
	flex-direction: column;
}

#boutonAccueil{
	align-self: center;
}





#carte1,#carte2,#carte3,#carte4,#carte5,#carte6,#carte7,#resultat,#dialogueAccueil
{
	
	background-color: white;
	border-radius: 50px;
	padding: 20px;
	margin-right: 10px;
	width: 35%;
	float: right;
	 text-align:center;


}

p{
	text-align: center;
}

ul{
	margin-bottom: 0;
}

h3{
	margin-top: 0;
}

#flex{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: calc(100vh - 30px);
}

.container-card{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: calc(100vh-30px);
}

#dialogue{
	padding-left: 20px;
}


td {

    width: 50px;
		text-align : center;
		padding-top : 7px;
		padding-bottom : 7px;
	/*
		font-weight : bold;
	*/
}

table{
	border-collapse: collapse;
	margin: auto;
	text-align: center;
	border-radius : 5px;
	background-image: linear-gradient(2deg, #fdfcfb 0%, #e2d1c3 100%);
}

.quote
{
	width : 25px;
	margin-bottom : 5px;
}

button{
	background: #ef9935;
	width: 150px;
	height: 50px;
	text-align: center;
	border: 1px solid white;
	color: white;
	text-transform: uppercase;
	border-radius: 10px;
	cursor: pointer;

	box-shadow: inset -10px -10px 20px #cb822d,
            inset 10px 10px 20px #ffb03d;
}

@media (max-height:600px) and (max-width:1020px){ 
	#dialogueAccueil{
		font-size: 12px;
	}

	#mascotte img{
		width: 250px;
	}
 }

